/* ☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾DEFAULT☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾 */
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
li {

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


:root {
    --background: #e5e5e5;
    --background-white: #FFFFFF;
    --background-seecon: #2E2F42;
    --background-primary: #F4F4FD;
    --iris: #4D5AE5;
    --slate: #434455;
    --CORNFLOWER: #E7E9FC;
    --hover: #404BBF;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
    background-color: var(--background-white);
}



/* 🤹🏽‍♀️ 🤹🏽 🤹🏽‍♂️🤹🏽‍♀️ 🤹🏽 🤹🏽‍♂️ NAVIGATION 🤹🏽‍♀️ 🤹🏽 🤹🏽‍♂️🤹🏽‍♀️ 🤹🏽 🤹🏽‍♂️ */

.section {
    padding-bottom: 120px;
    padding-top: 120px;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    /* padding-top: 24px;
    padding-bottom: 24px; */
    border-bottom: 1px solid #E7E9FC;


}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
}

.logo-continuation {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-seecon);
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-seecon);
    padding-top: 24px;
    padding-bottom: 24px;
}


.nav-link:hover,
.nav-link:focus {
    color: var(--hover);
}

.address-item:not(:last-child) {
    margin-right: 40px;
}

.mail-box {
    margin-left: auto;
}

.address-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.address-link:hover,
.address-link:focus {
    color: var(--hover);
}



/* 🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️ HERO 🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️ */
.hero {
    flex-direction: column;
    background-color: var(--background-seecon);
    padding: 188px 0 188px;
}

.hero-box {
    flex-direction: column;
}

.hero-header {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
    letter-spacing: 0.02em;
    color: var(--background-white);
}

.order-service {
    background-color: var(--iris);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    min-width: 169px;
    color: var(--background-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-top: 48px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;


}

.order-service:hover,
.order-service:focus {
    background-color: var(--hover);
}

/* 🪢🪢🪢🪢🪢🪢🪢🪢🪢🪢🪢🪢🪢🪢 FEATURE 🪢🪢🪢🪢🪢🪢🪢🪢🪢🪢🪢🪢🪢 */

.fix-margin {
    padding-bottom: 0;
}

.feature {
    font-size: 0;
    padding-top: 0;
}

.feature-item {
    font-size: 1rem;
    flex-basis: 264px;

}

.feature-item:not(:last-child) {
    margin-right: 24px;
}

.feature-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-seecon);
    margin-bottom: 8px;
}

/* ******************************* WORKS ******************************* */

.works-item {
    justify-content: center;
}

.works-item:first-child {
    flex-basis: calc((100% - 3 * 16px) / 3)
}

.we-doing:not(:last-child) {
    margin-right: 24px;
}

.items-header {

    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-seecon);
    margin-bottom: 72px;
}

/* ******************************* WHAT ARE WE DOING ******************************* */


/* 🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️CREW 🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️ */
.section.crew {
    background-color: var(--background-primary);
}

.crew-box {
    flex-direction: column;
}

.crew-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--background-seecon);
    margin-bottom: 8px
}

.crew-item:not(:last-child) {
    margin-right: 24px;
}

.crew-item {
    background-color: var(--background-white);

    border-radius: 0px 0px 4px 4px;
}

.crew-box-name {
    padding: 32px 16px;
}

.crew-spec {
    text-align: center;
}

/* ******************************* FOOTER ******************************* */

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--background-seecon);
}

.white {
    color: var(--background-primary);
}

.footer-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-primary);
}

/* ******************************* PORTFOLIO ******************************* */
.batton-clasik {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--iris);
    background-color: var(--background-primary);
}

.batton-clasik:hover,
.batton-clasik:focus {
    background-color: var(--hover);
    color: var(--background-white);
    border: 1px solid transparent;
}

.batton-clasik {
    border: 1px solid var(--CORNFLOWER);
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
}


.filter-btn:not(:last-child) {
    margin-right: 24px;
}

.servises-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    /* NAVY BLUE */
    color: var(--background-seecon);
}

.servises-paragraf {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate);
    color: var(--slate);
}

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter {
    flex-direction: column;
}

.filter-battons {
    flex-direction: row;
    margin-bottom: 72px;
    border: none;
    justify-content: center;
}

.filter-items {
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
}

.filter-item {
    width: 360;
}

.filter-item-box {

    padding: 32px 16px;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}