/* 
font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*/
/* h2 {
    display: none;
} */

/* ☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾DEFAULT☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾☝🏾 */
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
li {

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


:root {
    --background: #e5e5e5;
    --background-white: #FFFFFF;
    --background-seecon: #2E2F42;
    --background-primary: #F4F4FD;
    --iris: #4D5AE5;
    --slate: #434455;
    --CORNFLOWER: #E7E9FC;
    --hover: #404BBF;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
    background-color: var(--background-white);
}



/* 🤹🏽‍♀️ 🤹🏽 🤹🏽‍♂️🤹🏽‍♀️ 🤹🏽 🤹🏽‍♂️ NAVIGATION 🤹🏽‍♀️ 🤹🏽 🤹🏽‍♂️🤹🏽‍♀️ 🤹🏽 🤹🏽‍♂️ */

.section {
    padding-bottom: 120px;
    padding-top: 120px;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;


}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    /* line-height: 1.17;
    display: flex;
    align-items: center; */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
}

.logo-continuation {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    /* line-height: 1.17;
    display: flex;
    align-items: center; */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-seecon);
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-seecon);
}


.nav-link:hover,
.nav-link:focus {
    color: var(--hover);
}

.mail {
    padding-right: 40px;
}

.mail-box {
    margin-left: auto;
}

.address-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.address-link:hover,
.address-link:focus {
    color: var(--hover);
}



/* 🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️ HERO 🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️🦸‍♂️ */
.hero {
    flex-direction: column;
    background-color: var(--background-seecon);
}

.hero-box {
    flex-direction: column;
    padding-top: 86px;
    padding-bottom: 68px;
}

.hero-header {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-white);
    /* margin-bottom: 48px; */
}

.order-service {
    width: 169px;
    height: 56px;
    background-color: var(--iris);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    color: var(--background-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-top: 48px;

}

.order-service:hover,
.order-service:focus {
    background-color: var(--hover);
}

/* 🧗🏻‍♂️ 🏇🏻 🏂🏻 🏌🏻‍♀️ FEATURE 🧗🏻‍♂️ 🏇🏻 🏂🏻 🏌🏻‍♀️ */
/* .section-feature {
    background-color: var(--background-white);
} */

/* .section-feature .feature {} */
.section-feature {}

.feature {
    font-size: 0;
    padding-top: 0;
}

.feature-item {
    font-size: 1rem;
}

.feature-item:not(:last-child) {
    padding-right: 24px;
}

.feature-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-seecon);
    padding-bottom: 8px;
}

/* ******************************* WORKS ******************************* */
/* .section-works { 
    background-color: var(--background-white);
}*/

.works-item {
    display: flex;
    justify-content: center;
    /* width: 1128px;
    height: 412px; */
}

.works-item:not(:last-child) {}

.we-doing:not(:last-child) {
    padding-right: 24px;
}

.items-header {

    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-seecon);
    padding-bottom: 72px;
}

/* ******************************* WHAT ARE WE DOING ******************************* */





/* 🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️CREW 🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️🧝‍♂️ */
.section.crew {
    background-color: var(--background-primary);
}

.crew-box {
    flex-direction: column;
}

.crew-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--background-seecon);
    margin-top: 32px;
}

.crew-item:not(:last-child) {
    margin-right: 24px;
}

.crew-item {
    background-color: var(--background-white);
}

.section-crew .crew {}

.crew-spec {
    margin-top: 8px;
    margin-bottom: 32px;
    text-align: center;
}

/* ******************************* FOOTER ******************************* */

.footer {
    background-color: var(--background-seecon);
}

.footer-box {
    padding-top: 100px;
    padding-bottom: 100px;
}

.white {
    color: var(--background-primary);
}

.footer .logo {}

.footer-text {
    min-width: 264px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-primary);
    margin-top: 16px;
}

/* .header {
    width: 1440;
    height: 72;
    background-color: #ffffff;
    border-color: #E7E9FC;
} */



/* ******************************* PORTFOLIO ******************************* */
.batton-clasik {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--iris);
    background-color: var(--background-primary);
}

.batton-clasik:hover,
.batton-clasik:focus {
    background-color: var(--hover);
    color: var(--background-white);
}

.filter-btn {}

.servises-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--background-seecon);
    padding-top: 32px;
}

.servises-paragraf {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate);
    color: var(--slate);
    padding-bottom: 32px;
    margin-top: 8px;
}

.filter {
    flex-direction: column;
}

.filter-battons {
    flex-direction: row;
    padding-top: 96px;
    padding-bottom: 36px;

    border: none;

}

.filter-items {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 36px;
    column-gap: 22px;
    row-gap: 48px;
}

.filter-item-box {
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}